<mat-nav-list>
    <div class="logo py-4">
        <h2 class="d-flex justify-content-center fs-3 title mb-0" [routerLink]="['/dashboard']" ><span class="mt-3">Infinite Panel</span></h2>
    </div>

    <mat-list-item class="menuItem" routerLink="/dashboard" routerLinkActive="itemActive"><mat-icon>home</mat-icon><a class="menuIteminfo">dashboard</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/posts" routerLinkActive="itemActive"><mat-icon>  insert_drive_file</mat-icon><a class="menuIteminfo">add-post</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/contact" routerLinkActive="itemActive"><mat-icon> message</mat-icon><a class="menuIteminfo">contact</a></mat-list-item>

    <mat-expansion-panel *ngIf="showAdminBoard" >
        <mat-expansion-panel-header style="padding: 0 15px;">
            <mat-panel-title>
                <!-- <mat-list-item></mat-list-item> -->
                <mat-icon style="margin-right: 5px;">folder_open</mat-icon> <a class="menuIteminfo">categories</a>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item  class="menuItem" routerLinkActive="itemActive" routerLink="/categories/view-category"><a class="menuIteminfo" style="margin-left: 1.8rem;">categories</a></mat-list-item>
        <mat-list-item  class="menuItem" routerLinkActive="itemActive" routerLink="/subcategories/view-category"><a class="menuIteminfo" style="margin-left: 1.8rem;">subcategories</a></mat-list-item>
    </mat-expansion-panel>

    <!-- <mat-list-item class="menuItem" routerLink="/categories/view-category" routerLinkActive="itemActive"> <a class="menuIteminfo">

    </a> </mat-list-item> -->

    <mat-list-item class="menuItem" *ngIf="showAdminBoard" routerLink="/roles" routerLinkActive="itemActive"><mat-icon>vpn_key</mat-icon> <a class="menuIteminfo">roles</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/users" routerLinkActive="itemActive"><mat-icon>  supervisor_account</mat-icon> <a class="menuIteminfo">users</a></mat-list-item>

    <mat-list-item class="menuItem" *ngIf="showAdminBoard" routerLinkActive="itemActive"><mat-icon>settings_applications</mat-icon> <a class="menuIteminfo">settings</a></mat-list-item>

  </mat-nav-list>
