<mat-nav-list>
    <div class="logo py-4">
        <h2 class="d-flex justify-content-center fs-3 title mb-0" ><span class="mt-3">ngCart</span></h2>
    </div>

    <mat-list-item class="menuItem" routerLink="/dashboard" routerLinkActive="itemActive"><mat-icon>home</mat-icon><a class="menuIteminfo">dashboard</a></mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon> bar_chart</mat-icon><a class="menuIteminfo">products</a></mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon>insert_chart</mat-icon> <a class="menuIteminfo">categories</a> </mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon>payment</mat-icon> <a class="menuIteminfo">orders</a></mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon>  supervisor_account</mat-icon> <a class="menuIteminfo">users</a></mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon>settings_applications</mat-icon> <a class="menuIteminfo">settings</a></mat-list-item>
    
  </mat-nav-list>
