<mat-nav-list>
    <div class="logo py-4">
        <h2 class="d-flex justify-content-center fs-3 title mb-0" ><span class="mt-3">ngCart</span></h2>
    </div>

    <mat-list-item class="menuItem" routerLink="/dashboard" routerLinkActive="itemActive"><mat-icon>home</mat-icon><a class="menuIteminfo">dashboard</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/posts" routerLinkActive="itemActive"><mat-icon>  insert_drive_file</mat-icon><a class="menuIteminfo">add-post</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/contact" routerLinkActive="itemActive"><mat-icon> message</mat-icon><a class="menuIteminfo">contact</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/categories/view-category" routerLinkActive="itemActive"><mat-icon>folder_open</mat-icon> <a class="menuIteminfo">categories</a> </mat-list-item>

    <mat-list-item class="menuItem" routerLink="/roles" routerLinkActive="itemActive"><mat-icon>vpn_key</mat-icon> <a class="menuIteminfo">roles</a></mat-list-item>

    <mat-list-item class="menuItem" routerLink="/users" routerLinkActive="itemActive"><mat-icon>  supervisor_account</mat-icon> <a class="menuIteminfo">users</a></mat-list-item>

    <mat-list-item class="menuItem" routerLinkActive="itemActive"><mat-icon>settings_applications</mat-icon> <a class="menuIteminfo">settings</a></mat-list-item>
    
  </mat-nav-list>
