
<section class="login">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="mainTitle">
                    <h2 class="text-center">Infinite Panel</h2>
                </div>
                <div class="logInfo bg-white p-4 m-5 rounded-3">
                    <div class="section-title">
                        <h4 class="text-center">Login</h4>
                    </div>
                    <div class="loginForm">
                        <form>
                            <div class="form-group">
                                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                    <!-- <mat-label>Username or Email</mat-label> -->
                                    <input type="email" matInput placeholder="Username or Email...">
                                </mat-form-field>
                            </div>
                            <div class="form-group"> 
                                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                    <!-- <mat-label>Username or Email</mat-label> -->
                                    <input type="password" matInput placeholder="Password...">
                                </mat-form-field>
                            </div>
                            <div class="form-group submit-btn">
                                <button mat-raised-button color="primary" (click)="login()">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="homePage">
                    <a class="mt-3 text-black ">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>        

</section>