.headerContent{
    background-color: #3f51b5;
    height: 70px;
    clear: both;
    overflow: hidden;
    padding: 5px;
    line-height: 50px;
    z-index: 5;
    display: block;
}

.headerMenu{
    float: left;
}

.title{
    color: #fff;
    font-size: 25px;
    margin-left: 25px;
}

.headerMenu button{
    margin-top: 8px;
    float: left;
}

.pro-btn{
    margin-top: 8px;
    float: right;
    color: #fff;
}