 <section class="footer bg-white">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="footerCon">
                    <div class="fc1 col-sm-12 col-md-6">
                        <p class="mb-0">Version 4.2</p>
                    </div>
                    <div class="fc2 col-sm-12 col-md-6">
                        <p class="mb-0">&#169; 2021 Infinite - All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>